<form action="/Home/emailsignup" method="post" style="margin-top: 60px" class="well">
    <input type="text" placeholder="First" name="FirstName" class="form-control" maxlength="50" />
    <br />
    <input type="text" placeholder="Last" name="LastName" class="form-control" maxlength="50" />
    <br />
    <input type="text" placeholder="Email" name="EmailAddress" class="form-control" maxlength="50" />
    <br />
    <button class="btn btn-warning btn-block">Submit Email</button>
</form>
